= form_for @workout do |f|
  = f.text_field :name, autofocus: true, placeholder: 'Workout Name'
  = f.select :category_id, options_for_select(@categories.map {|category| [category.name, category.id]})
  = f.submit class: 'btn'