.container
  = link_to 'Back', workouts_path, class: 'btn red'
  .row.center
    .card.col.s12.m10.l6.offset-m1.offset-l3
      %h4.center Create New Workout
      %br
      = render(partial: 'form')
      %br
      .center