.container
  %br
  .center
    %h3 Why use Traction?
    %h5.blue-text.lighten-5 It's simple, fast and easy to use. 
    %br
    %h3 How it works
    %h5.blue-text.lighten-5 One platform to plan, deliver, & track your training.
    %h5.blue-text.lighten-5 Just create or use a workout, and log your sessions. 
    %h5.blue-text.lighten-5 We do the rest.
    %br
.grey.lighten-2.our-team
  .center
    %h3 Our Team
    .row.team-row
      .col.s2.offset-s1
        %h5.blue-text.lighten-5 Amy Eisenmenger
        %p.blue-text.lighten-5 amy@traction.fitness
      .col.s2
        %h5.blue-text.lighten-5 Derrick Whiting
        %p.blue-text.lighten-5 derrick@traction.fitness
      .col.s2
        %h5.blue-text.lighten-5 Ander Rockstad
        %p.blue-text.lighten-5 ander@traction.fitness
      .col.s2
        %h5.blue-text.lighten-5 Valeria Roca Rockstad
        %p.blue-text.lighten-5 valeria@traction.fitness
      .col.s2
        %h5.blue-text.lighten-5 Ladd Laudase
        %p.blue-text.lighten-5 ladd@traction.fitness