%h1.center.grey-text.text-darken-4 Frequently Asked Questions
%section.cd-faq
  %ul.cd-faq-categories
    %li
      %a.selected{:href => "#basics"} Basics
    %li
      %a{:href => "#account"} Account
    %li
      %a{:href => "#biometrics"} Biometrics
    %li
      %a{:href => "#workouts"} Workouts
    %li
      %a{:href => "#exercises"} Exercises
    %li
      %a{:href => "#glossary"} Glossary
  / cd-faq-categories
  .cd-faq-items
    %ul#basics.cd-faq-group
      %li.cd-faq-title.grey-text.text-darken-4
        %h Basics
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} What is Traction and why use it in your training/goals?
        .cd-faq-content
          %p Traction is an app to do exactly that, give you Traction on achieving your physical and/or athletic goals. Traction was designed by real professional trainers to meet the needs of athletes and trainers alike to be able to log your training and assess where you are increasing your performance and where you are not. This way you can make punctual assessments and pivot where necessary to keep you on target for your goals.  

          %p Lets face it; we all have limited time and energy in this world. So why waste even a second heading in a lower yield direction? Use Traction Fitness App to optimize your time, efforts and workouts to get where you want to go!

        / cd-faq-content
      
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} Who is Traction Fitness App designed for?
        .cd-faq-content
          %p Well because any user can create exercises and workouts it really is for any athlete at any level. In our current version it does resonate best for athletes that add resistance to their workouts. So what does that mean? It means athletes that use weights at any level will particularly love the feedback they get from looking at their training history and using the chart features. But don’t worry if you focus on body weight sports such as Rock Climbing you can still log your body weight as the resistance weight.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} What if I am new to training and don’t know where to start?
        .cd-faq-content
          %p Traction Fitness App was designed for everybody to increase their performance and make dreams a reality. Through logging and assessing your progress anybody can make steps towards their dream goal. All exercises have videos and if they do not you can easily add one with a youTube or Vimeo link. There is a place in Traction Fitness App for all levels from enthusiastic novice to professional athlete, in fact our user-ship has exactly that. No matter where you are on the spectrum there is a place for you. We at Traction Fitness App are thrilled you are reading this and can’t wait to work with you.
        / cd-faq-content
    / cd-faq-group
    %ul#account.cd-faq-group
      %li.cd-faq-title.grey-text.text-darken-4
        %h2 Account
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How do I change my account information including my password?
        .cd-faq-content
          %p You can update your account information or change your password at any time.
          %br
          %p 1. Click Profile in the navigation bar at the top of the screen
          %p 2. Click on Edit Profile in the Your Info box
          %p 3. Make desired changes
          %p 6. Click the Update button to save your changes.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How do I sign up?
        .cd-faq-content
          %p Click Sign Up in the navigation bar at the top of the screen.  You can add more information after you've signed in by-
          %ol
            %li 1. Click Profile in the navigation bar at the top of the screen
            %li 2. Click on Edit Profile in the Your Info box
        / cd-faq-content
      %li
    / cd-faq-group
    
    %ul#biometrics.cd-faq-group
      %li.cd-faq-title.grey-text.text-darken-4
        %h2 Biometrics
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} What is a biometric and how are they used in Traction Fitness?
        .cd-faq-content
          %p Biometrics are quite literally a biological measurement. Just about anything with the body can be a measured and quantified as a biometric. We have this field so a user not only can track their athletic input/output but the result it has on your body. Some users dreams revolve around changing their body compositions and this is exactly the tool for that. We at Traction Fitness App tried to come up with the most likely markers of the body that our users and trainers would be interested in. If you would like to see a specific one that we did not include, email us at info@Traction.fitness and we can see about adding it in.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How do I add a new biometric?
        .cd-faq-content
          %p Biometrics can be added from two places.  You can click on the Update Biometrics button from either the Biometrics or Profile links in the navigation bar at the top of the screen. 
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How can I use biometrics to manage my performance?
        .cd-faq-content
          %p The biometrics page can be found by clicking on the biometrics link in the navigation bar at the top of the screen.  Here you can use the history of your biometric readings to measure your progress in attaining your goals.
        / cd-faq-content
    / cd-faq-group
    %ul#workouts.cd-faq-group
      %li.cd-faq-title.grey-text.text-darken-4
        %h2 Workouts
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} Does Traction Fitness App allow you to make workouts and exercises or just do workouts added by trainers?
        .cd-faq-content
          %p The Traction Fitness App allows all users to make and exchange and share all workouts and exercises. This means that if you like an exercise or workout for your goal that you don’t see in the library then just MAKE IT! Once you make it other users can use it and vice versa when you like a workout/exercise that someone else has made just Clone It! We all stand a better chance at our goals when we are in a state of collaboration and that is premise behind Traction Fitness App.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How do I add a workout from another user?
        .cd-faq-content
          %p You can find all workouts added by other users by clicking on the All Workouts link in the navigation bar.  Simply click the Add button next to the workout to add it to the workout box on your dashboard.  The add button will not be availble if you have already added the workout.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How do I add a workout of my own?
        .cd-faq-content
          %p You can add a new workout from the dashboard by clicking the create button in the workout box.  You can also click the add new workout button on the All Workouts page.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} What is a Recovery Workout? And why is it in a training app?
        .cd-faq-content
          %p In our society we are obsessed with OUTPUT and working OUT. As athletes we are extra susceptible to this line of thinking. The problem with this is your body is very analogous to a bank account and if all you focus on is with-drawls than you will inevitably break the bank and your body. Having an overdrawn account does not do anyone any good. Recovery workouts are a way to track and encourage users to make an effort to work-IN. Whether it is a yoga class, a light jog, a deep and relaxing stretching session go ahead and invest in yourself and start working in.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} What is a MISC workout?
        .cd-faq-content
          %p Misc is short for miscellaneous, which is another workout category we put in so that you, the user can add workouts for whatever you can think up. When a workout does not fit neatly into the provided categories just create it under MISC and that way your chart that measures which categories you do most will reflect your efforts as accurately as possible.
        / cd-faq-content
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How do I delete a workout?
        .cd-faq-content
          %p Removing it from your user dashboard - Workouts can be deleted from the workouts box on the dashboard by clicking the Remove button next to the workout.  If you added that workout from another user, it will only remove the workout from your plan, not from the list of all workouts.  If you added the workout yourself, removing it from your dashboard will also remove it from the list of all workouts that other users can choose from.  If someone else has already added that workout to their own dashboard, that copy will remain in their dashboard.
          %p Removing it from All Workouts - If you have added the workout it will give you the option to delete the workout by clicking on the delete button next to the workout.
        / cd-faq-content
    / cd-faq-group
    %ul#exercises.cd-faq-group
      %li.cd-faq-title.grey-text.text-darken-4
        %h2 Exercises
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} How do I add a youtube video to an exercise?
        .cd-faq-content
          %p When creating an exercise, simply paste the Youtube URL into the youtube URL field.  You can also add it later when you are doing the exercise by pasting the URL in at that time and clicking update.
        / cd-faq-content
    / cd-faq-group

    %ul#glossary.cd-faq-group
      %li.cd-faq-title.grey-text.text-darken-4
        %h2 Glossary
      %li
        %a.red-text.text-darken-4.cd-faq-trigger{:href => "#0"} Glossary of Terms Used
        .cd-faq-content
          %p STRENGTH- the force one can exert during a contraction. Usually measured by how much force can be exerted on an external object. Hypertrophy is the likely aim or strength training. Strength training usually resides in the realm of 5-15 repetitions

          %p POWER- Power = Strength x Speed. It is definitively detrimental to endurance so use this powerful tool as it pertains to your particular goal as it may be counter-productive for longer exertion. Plyometric training is the gold standard to increase power. Usually a plyometric workout will be between 1-5 repetitions.

          %p Endurance- is the ability to work continuously for a long period of time without succumbing to fatigue induced failure. Endurance workouts focus on training the aerobic system. Usually endurance workout will be measured in time of activity instead of measuring resistance added.

          %p STRENGTH-ENDURANCE- this is an interesting zone that can be harder to train but is absolutely critical to most athletes for actually completing their objective. This is the ability for an athlete to perform contractions that take a great deal of their maximum strength but for a length of time into 20-40 second period. Often the difference between athletic success and failure is the ability not just user your maximum strength that you have gained but to have access to great strength for the length of the entire task.

          %p PLYOMETRIC- are exercises in which muscles exert maximum force in short intervals of time of time, with the goal of increasing power(speed-strength). Box jumps and Campus Board are the hallmark exercises and apparatus for this methodology in training.

          %p RECOVERY- is a category of workout that is designed to build the body up and prepare you for the stresses of outputs to come. This category really means ‘Working In’, so try to balance all of the categories in a effort to build yourself up to make those dreams a planned reality.

          %p MISC- miscellaneous is a workout category for all the workouts that don’t quite fit into a framework of the existing categories.

        / cd-faq-content
    / cd-faq-group
  / cd-faq-items
  %a.cd-close-panel{:href => "#0"} Close
