.slider
  %ul.slides
    %li
      %img{:src => "http://lorempixel.com/580/250/nature/1"}
        / random image
        .caption.center-align
          %h3 This is our big Tagline!
          %h5.light.grey-text.text-lighten-3 Here's our small slogan.
    %li
      %img{:src => "http://lorempixel.com/580/250/nature/2"}
        / random image
        .caption.left-align
          %h3 Left Aligned Caption
          %h5.light.grey-text.text-lighten-3 Here's our small slogan.
    %li
      %img{:src => "http://lorempixel.com/580/250/nature/3"}
        / random image
        .caption.right-align
          %h3 Right Aligned Caption
          %h5.light.grey-text.text-lighten-3 Here's our small slogan.
    %li
      %img{:src => "http://lorempixel.com/580/250/nature/4"}
        / random image
        .caption.center-align
          %h3 This is our big Tagline!
          %h5.light.grey-text.text-lighten-3 Here's our small slogan.
.row
  .col.s12.m4
    .card
      .card-image
        = image_tag "case_1.jpg"
        %span.card-title Case Study 1
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m4
    .card
      .card-image
        = image_tag "ander.jpg"
        %span.card-title Case Study 2
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link
  .col.s12.m4
    .card
      .card-image
        = image_tag "serena.jpg"
        %span.card-title Case Study 3
      .card-content
        %p
          I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.
      .card-action
        %a{:href => "#"} This is a link