%h1 Welcome Back #{current_user}
%h3 Your Workouts Plans
- current_user.workouts.each do |workout|
  %ul
    %li
      = workout.name
      = link_to 'Do Workout', do_workout_path(id: workout), method: :post