/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("grey", "darken-3") !default;
@import 'materialize';

html {
  /*font-family: 'Ubuntu', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Poiret One', cursive;*/
  /*font-family: 'Special Elite', cursive;
  font-weight: bold;*/
}
.logo-font {
  font-size: 30px;
}

.logo-size {
  border-radius: 20px;
  height: 50px;
  margin-top: 2.5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 92%;
}

.btn {
  margin: 5px;
  border-radius: 7px; 
}
form {
  color: black !important;
}
.form-border {
  border-bottom: 1px solid black !important;
}

.chartSelect {
  margin: 0 0 0 0;
  padding: 0 0 0 0 !important;
}

footer .row {
  margin-bottom: 0px;
}
footer h5 {
  font-size: 16px;
}
footer p {
  font-size: 12px;
}
footer p, form, .info-font, table, .btn, .card  {
  font-family: 'Merriweather', serif;
}
.card .card-title, h3 {
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  /*font-family: 'Raleway', sans serif;*/
  /*font-family: 'Special Elite', cursive;*/
  font-weight: bold;
}
input:focus {
  border-radius: 1px solid red !important;
  -webkit-box-shadow: 0 1px 0 0 red !important;
  -moz-box-shadow: 0 1px 0 0 red !important;
  box-shadow: 0 1px 0 0 red !important;
}

.nav-wrapper {
  background-color: rgb(76,75,75);
}

