/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize/components/color";
$primary-color: color("grey", "darken-3") !default;
@import 'materialize';

html {
  font-family: 'Montserrat', sans-serif;
}
.logo-font {
  font-size: 30px;
}

.logo-size {
  border-radius: 20px;
  height: 30px !important;
  width: auto;
  margin-top: 2.5px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.container {
  width: 92%;
}

.btn {
  margin: 5px;
  border-radius: 7px; 
}
form {
  color: black !important;
}
.form-border {
  border-bottom: 1px solid black !important;
}

.chartSelect {
  margin: 0 0 0 0;
  padding: 0 0 0 0 !important;
}

.select-font {
  color: #b71c1c !important;
  font-size: 12px;
}

footer {
  background-color: black !important;
}
footer .row {
  margin-bottom: 0px;
}
footer h5 {
  font-size: 16px;
}
footer p {
  font-size: 12px;
}
footer p, form, .info-font, table, .btn, .card  {
  font-family: 'Merriweather', serif;
}
.card .card-title, h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
}
input:focus {
  border-radius: 1px solid red !important;
  -webkit-box-shadow: 0 1px 0 0 red !important;
  -moz-box-shadow: 0 1px 0 0 red !important;
  box-shadow: 0 1px 0 0 red !important;
}

.about-picture {
  text-align: center;
  width: 150px;
  height: auto;
  border-radius: 50%;
}

.nav-wrapper {
  background-color: black;
}

.avatar-size {
  border-radius: 50%;
}

a.info-link:hover { 
  color: purple !important;
}

a.footer-link:hover {
  color: #b71c1c !important;
}

.nav-hover:hover {
  color: #b71c1c !important;
}

.facebook-login {
  width: 200px;
  height: auto;
}

.logo-link {
  width: 30px;
  height: auto;
  vertical-align: center;
}
.logo-link:hover {
  transform: scale(1.1);
}
