// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slider img.responsive-img {
  background-position-y: 0px !important;
}

.row.team-row {
  margin-bottom: 0px;
}

.grey.lighten-2.our-team {
  padding: 10px;
}

.pagination {
  color: orange;
}
