// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.slider img.responsive-img {
  background-position-y: 0px !important;
  margin-top: -22px;
}

.slider h1 {
  text-shadow: 4px 4px 4px #4c4b4b;
}

.row.team-row {
  margin-bottom: 0px;
}

.grey.lighten-2.our-team {
  padding: 10px;
}

.pagination {
  color: orange;
}

.workout-link:hover {
  color: #b71c1c !important;
}
