// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slider img.responsive-img {
  background-position-y: 0px !important;
}

.white_border {
  margin-top: 4.5px;
  height: 50px;
  border: solid 2.5px white;
  border-radius: 20px;
}

.page-footer {
  backgroud-color: #363636 !important;
  margin-top: 0px !important;
}