= render(partial: 'layouts/nav_bar')

%h2 Biometrics

- if @biometrics.any?
  %ul 
    - @biometrics.each do |biometric|
      %li
        = link_to biometric.date, user_biometric_path(current_user, biometric)
        %br
- else
  %h4 
    Unfortunately we do not have any biometrics right now. Please add one!

- if current_user
  = link_to 'Add New Biometric', new_user_biometric_path(current_user)