.container  
  = link_to 'Back', user_biometrics_path(current_user), class: 'btn red darken-4'
  .center
    .row
      .card.col.s8.offset-s2
        %h3 Add New Biometric
        .center
          .card-content.center
            = render(partial: 'form')
