.container
  .row
    .col.s5.offset-s1
      %h3 Enter your Workout Numbers:
      %br
      = render(partial: 'form')
    .col.s5.offset-s1
      %br
      %br
      %br 
      - if @exercise.youtube_url
        .embed-container
          = embed(@exercise.youtube_url)
      - else 
        %h6 No Video. Add One in the Form.