%footer.page-footer{style: "margin-top: 0px;"}
  .container
    .row  
      .grey-text 
        .col.l3.s3
          %h5
            %a.grey-text.text-lighten-2{:href => about_us_path} About Traction
          %p Learn more about Traction and how it can change your life
        .col.l3.s3
          %h5.grey-text.text-lighten-2 Contact Us
          %p  info@traction.fitness
          %p  370 S. 300 E. |
              Salt Lake City |
              UT 84111 |
        .col.l3.s3
          %h5.grey-text.text-lighten-2 Connect
          %a.github-button{"aria-label" => "Star ntkme/github-buttons on GitHub", "data-count-api" => "/repos/AKsunseeker/Traction", "data-count-aria-label" => "# stargazers on GitHub", "data-count-href" => "https://github.com/AKsunseeker/Traction", :href => "https://github.com/AKsunseeker/Traction"} Star
          %br
          .fb-like{"data-action" => "like", "data-href" => "https://www.facebook.com/Traction-1132649450102465/?ref=aymt_homepage_panel", "data-layout" => "button_count", "data-share" => "false", "data-show-faces" => "false", "data-width" => "20px"}
        .col.l3.s3
          %h5
            %a.grey-text.text-lighten-2{:href => "https://www.gofundme.com/traction_app", target: "_blank"} Help Traction Grow
          %p We hope you have enjoyed using Traction! If you feel Traction has helped you out and want to support the team, send us over a donation! Any amount would help support and continue development on this project and is greatly appreciated.

        
  