%footer.page-footer
  .container
    .row  
      .col.l6.s6
        %a.grey-text.text-lighten-3{:href => "#!"} About Traction
      .col.l4.s6
        %a.grey-text.text-lighten-3{:href => "#!"} Contact Us
        
  